<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="popup.css">
</head>
<body class="center">
    <h1 id="title">欢迎使用PCR刷图计算器</h1>
    <p>使用说明：选好角色、库存以及地图选项后，按顺序点击下面这三个按钮。如果更改了选项，需要重新点击相应的按钮。</p>
    <button id="recipe" class="button">解析素材需求</button>
    <button id="mapDrop" class="button">解析地图掉落</button>
    <button id="calculate" class="button">计算刷图规划</button>
    <button id="map" class="button" disabled hidden>映射至页面上</button>
    <div id="mount" class="mount"></div>
    <script src="popup.js"></script>
</body>
</html>