html {
    width: 500px;
}

.center {
    width: 90%;
    margin: 0 auto 0;
}

.button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    margin-bottom: 5px;
    margin-right: 5px;
}

.button {
    transition-duration: 0.4s;
}

.button:hover {
    background-color: #4CAF50; /* Green */
    color: white;
}

.mount {
    margin: 10px auto;
}

th, td {
    font-size: 1.25em;
    padding: 5px;
    text-align: left;
}

p {
    font-size: 1.1em;
}